@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$font-principal : 'Ubuntu', sans-serif;
$font-secundaria: 'Lobster', cursive;
$font-menu: 'Open Sans', sans-serif;
