{% extends "layout.twig" %}

{% block conteudo %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Bem Vindo!
				</h2>
				<p style="text-align:justify; letter-spacing: 0px;">
					Olá Amigo programador, nós desenvolvedores do SysOnCompiler desejamos boa sorte para você que está em busca de mais conhecimentos. Nossa plataforma é perfeita para quem quer praticar e aperfeiçoar suas tecnicas, nosso sistema conta com um variado banco de dados de questões, então não perca tempo chame sua equipe e venha programar :)
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Saiba Mais</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Individual
			</h2>
			<p style="text-align:justify; letter-spacing: 1px;">
				No modo idividual você pode subir de ranking porem com um menor valor de pontos por questão resolvida, então sendo 10 niveis de dificuldades com variação de 10 à 100 pontos dependendo no nivel de dificuldade.
			</p>
			<p>
				<a class="btn" href="#">Visualizar detalhes »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Equipes
			</h2>
			<p style="text-align:justify; letter-spacing: 1px;">
				No modo Equipe você pode subir de ranking com mais facilidade pois os pontos são maiores para cada questão resolvida, então sendo 10 niveis de dificuldades com variação de 20 à 200 pontos dependendo no nivel de dificuldade.
			</p>
			<p>
				<a class="btn" href="#">Visualizar detalhes »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Regras
			</h2>
			<p style="text-align:justify; letter-spacing: 1px;">
				Nosso sistema é muito basico e simples de usar, porem os usuarios devem seguir algumas regras, usuarios que forem flagrados tentando se benificiar de forma maliciosa poderá ser banido do nosso sistema e perderá todo seus pontos e conquistas.
			</p>
			<p>
				<a class="btn" href="#">Visualizar detalhes »</a>
			</p>
		</div>
	</div>
</div>

{% endblock %}

